{{ define "main" }}
<!-- Copy of list.html -->
<main>
  {{ partial "keyboards-description.html" }}
	<div class="blog-list">
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
      <div class="collection-board">
        {{ range .Paginator.Pages }}
          {{if in .Params.tags "custom"}}
              {{ .Render "keyboards-summary" }}
          {{ end }}
        {{ end }}
        {{ range .Paginator.Pages }}
          {{if in .Params.tags "vintage"}}
              {{ .Render "keyboards-summary" }}
          {{ end }}
        {{ end }}
		</div>
	</div>
</main>
{{ end }}
